<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="close()">×</button>
    <h3 class="modal-title">{{ video.Name }}</h3>
</div>
<div class="modal-body">
    <iframe width="100%" height="400" src="{{url}}" frameborder="0" allowfullscreen></iframe>
</div>
<div class="modal-footer">
    <div class="text-justify">
        <p>{{video.Description}}</p>
    </div>
</div>
<div class="modal-footer">
    <div>
        <p class="pull-left">Share this video with your friends</p> 
        <a href="{{shareUrls.facebook}}" target="_blank">
            <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png" border="0" alt="Facebook" /></a>
        <a href="{{shareUrls.twitter}}" target="_blank">
            <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png" border="0" alt="Twitter" /></a>
        <a href="{{shareUrls.google}}" target="_blank">
            <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/google.png" border="0" alt="Google" /></a>
        <a href="{{shareUrls.email}}">
            <img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/email.png" border="0" alt="Email" /></a>
    </div>
</div>
