<div ng-controller="TutorialsController" class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Our Videos</h2>
            <hr class="divider-primary" />
            <span class="intro-text">Begin and Rachel answer the top questions their students ask. Tell us what you want to learn. </span>
            <br /><br /><br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="portfolio-item">
                <div class="portfolio-caption">
                    <h4>Video of the Week</h4>
                </div>
                <a href="{{featuredTutorial.Href}}" data-toggle="lightbox" data-width="800" data-title="{{featuredTutorial.Name}}" data-footer="{{featuredTutorial.Description}}" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-play fa-3x"></i>
                        </div>
                    </div>
                    <img ng-src="{{featuredTutorial.Thumbnail}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{featuredTutorial.Name}}</h4>
                    <div ng-repeat="line in featuredTutorial.Description">
                        <p class="text-muted text-left">{{line}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1" />
        <div class="col-sm-3">
            <div ng-repeat="tutorial in tutorials" class="portfolio-item">
                <a ng-click="open(tutorial)" href="" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-play fa-3x"></i>
                        </div>
                    </div>
                    <img ng-src="{{tutorial.Thumbnail}}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{tutorial.Name}}</h4>
                </div>
            </div>
        </div>
    </div>
    <br />
    <p class="text-center">More videos coming soon</p>
</div>
