@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-kef5va');
	src:url('fonts/icomoon.eot?#iefix-kef5va') format('embedded-opentype'),
		url('fonts/icomoon.woff?-kef5va') format('woff'),
		url('fonts/icomoon.ttf?-kef5va') format('truetype'),
		url('fonts/icomoon.svg?-kef5va#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pplarge:before {
	content: "\e600";    
    line-height: 10px;
    font-size: 120px;
}
.icon-ppsmall:before {
	content: "\e601";
    font-size: 144px;
}
